*{
    margin: 0;
    padding:0;
    box-sizing: border-box ;
    font-family: 'Trebuchet Ms', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.logo, .about, .menu, .popular, .Menu, .order{
    background: orange;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

}
.title{
    font-size: 35px;
    font-weight: 600;
    color: white;
    background: orange;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.smile, .waitress, .chips{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
    margin-top: 30px;
}
.smile div, .waitress div, .chips div{
    width: 50%;
}
h2{
    font-weight: bold;
    font-size: 30px;
    color: orange;
}
button{
    color: white;
    background-color: orange;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 30px;
}
img{
    width: 100%;
    height: 400px;
    transition: 0.2s ease;

}
img:hover{
    transform: scale(1.04);
}
.fish{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
    margin-top: 30px;
    justify-content: space-between;
}
.fish div{
    width: 25%;
    justify-content: space-between;
    margin: 20px 3px;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
}



    

footer{
    background: orange;
    margin: 30px auto;
    
}
footer p{
    font-size: small;
}

P{
    font-size: x-large;
    margin: 15px 10px;
}
input{
    display: block;
    text-align: left;
    width: 70%;
    margin: 15px auto;
    padding: 10px 5px;
}

.form h2 , button{
    margin: 20px auto;
    
}
.search{
    display: flex;
    flex-wrap: wrap;
}
.search input, button{
    border-radius: 40px;
    padding: 10px 15px;
    margin: 10px 15px;
    font-size: medium;
    background: orange;
    
    border: none;
}
.manutitle{
    font-size: 50px;
    margin-bottom: 5px;
    padding: 5px 13px;
    color: orange;
    text-align: center;
}
.detailcard{
    
    height: 100%;
    
    margin: 10px 15px;
    box-shadow: rgba(red, green, blue, alpha) 0px 2px 8px 0px;
    display: flex;
    
}
.detailcard div{
    margin: 15px 10px;
    background-color: bisque;
    
    flex-wrap: wrap;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
}
.p{
    color: orange;
}

/* Responsiveness*/
@media(max-width:800px){
    
    .smile div, .waitress div, .chips div{
        width: 100%;
    }
    .fish div{
        width: 100%;
    } 
   .menu{
    
        width: 100%;}
    .detailcard div{
        width: 100%;
    }
    
    .detailcard{
    
        height: 100%;
        
        margin: 10px 15px;
        box-shadow: rgba(red, green, blue, alpha) 0px 2px 8px 0px;
        display: block;
        
    }
    .detailcard div{
        margin: 15px 10px;
        background-color:lightgoldenrodyellow;
        
        
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
    }
    .title{
        font-size: 25px;
        font-weight: 400;
        color: white;
        background:orange  }
        
        li a{
            color: white;
            font-size: 10px;
            font-weight: lighter;}

            h2{
                font-weight: bold;
                font-size: 15px;
                color: orange;
            }
            P{
                font-size: medium;
                margin: 10px 5px;}

                .manutitle{
                    font-size: 30px;
                    margin-bottom: 3px;
                    padding: 3px 8px;
                    color: orange;
                    text-align: center;}  
    a{
        font-size: 10px;
    }
                                 
}
